@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  font-family: "papyrus";
  width: 100%;
  height: 100vh;
}

header {
  background-color: #5f6a6a;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header {
  background-color: gray;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100vh;
}

.box > * {
  border: 1px solid #ccc;
  padding: 20px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire space while maintaining its aspect ratio */
}

.title1 {
  grid-column: span 2;
}

.title2 {
  grid-column: span 1;
}
.animal {
  display: inline-block;
  margin: 20px;
  text-align: center;
  background-color: #5f6a6a;
  padding-bottom: 10px;
}

.animal h2 {
  color: white;
}
.animal .removeCard {
  position: relative;
  top: 50px;
  left: 80px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}
.animal .removeCard span {
  font-size: 2rem;
}
.animal .removeCard:hover {
  opacity: 1;
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: #5f6a6a;
  width: 100%;
  height: 60px;
}
footer p {
  text-align: center;
  margin-top: 1.2rem;
}
